{% extends 'layout.twig' %}

{% block main %}
    <div id="header">
        <img src="./../img/header.png">
    </div>
    <div class="well border-blue">
        <div id="logo" class="padding-frame">
            <h3>dropcamp.pl</h3>
        </div>
        <div id="agenda">
            <div id="point-1" class="border-blue pull-left">
                <div>
                    <h5><img src="./../img/point-1.jpg"> Połącz swoje konto dropbox</h5>
                </div>
            </div>
            <div id="point-2" class="border-blue pull-right points">
                <div>
                    <h5><img src="./../img/point-2-muted.jpg"> Połącz swoje konto basecamp</h5>
                </div>
            </div>
        </div>
        <div class="padding-frame">
            <div class="row">
                <div class="span4 login">
                    <h4>Połącz swoje konto dropbox</h4>

                    <p class="muted">Teraz zaloguj się do dropbox żebyśmy</p>

                    <p class="muted">mogli przesłać tam twoje pliki z basecamp</p>

                    <a href="{{ dropboxLogin }}" type="button" class="btn btn-primary">Zaloguj się do dropbox</a>
                </div>
                <div class="span7" style="position: relative">
                    <img src="./../img/web.png">
                    <img class="in-web-pic" src="./../img/dropbox-web.jpg">
                </div>
        </div>
    </div>
{% endblock %}