{% extends 'layout.twig' %}

{% block main %}
	<div id="header">
		<img src="./../img/header.png">
	</div>
	<div class="well border-blue">
		<div id="logo" class="padding-frame">
			<h3>dropcamp.pl</h3>
		</div>
		<div id="agenda">
			<div id="point-1" class="border-blue pull-left">
                <div>
                    {% if dropboxLogin is defined %}
                        <h5><img src="./../img/point-1.jpg"> Połącz swoje konto dropbox</h5>
                    {% else %}
                        <h5><img src="./../img/tick.jpg"> Połącz swoje konto dropbox</h5>
                    {% endif %}
                </div>
			</div>
			<div id="point-2" class="border-blue pull-right points">
                <div>
                    {% if dropboxLogin is defined %}
                        <h5><img src="./../img/point-2-muted.jpg"> Połącz swoje konto basecamp</h5>
                    {% elseif basecampLogin is defined %}
                        <h5><img src="./../img/point-2.jpg"> Połącz swoje konto basecamp</h5>
                    {% else %}
                        <h5><img src="./../img/tick.jpg"> Połącz swoje konto basecamp</h5>
                    {% endif %}
                </div>
			</div>
		</div>
        <div class="padding-frame">
            <div class="row">
                {% if (dropboxLogin is defined) or (basecampLogin is defined) %}
                <div class="span4 login">
                    {% if dropboxLogin is defined %}
                        <h4>Połącz swoje konto dropbox</h4>

                        <p class="muted">Teraz zaloguj się do dropbox żebyśmy</p>

                        <p class="muted">mogli przesłać tam twoje pliki z basecamp</p>

                        <a href="{{ dropboxLogin }}" type="button" class="btn btn-primary">Zaloguj się do dropbox</a>
                    {% elseif basecampLogin is defined %}
                        <h4>Wszystkie twoje pliki z basecamp</h4>

                        <p class="muted">Uporządkowane według projektów na</p>

                        <p class="muted">na twoim tysku dropbox</p>

                        <a href="{{ basecampLogin }}" type="button" class="btn btn-success">Zaloguj się do basecamp</a>
                    {% else %}
                        <h5><img src="./../img/tick.jpg"> Połącz swoje konto basecamp</h5>
                    {% endif %}
                </div>
                <div class="span7" style="position: relative">
                    <img src="./../img/web.png">
                    {% if dropboxLogin is defined %}
                        <img class="in-web-pic" src="./../img/dropbox-web.jpg">
                    {% else %}
                        <img class="in-web-pic" src="./../img/basecamp-web.jpg">
                    {% endif %}
                </div>
                {% else %}
                    <div id="splash">
                        <img src="./../img/loga_finish.png">
                        <div id="spalsh-text">
                            <h1>Wszystko gotowe</h1>
                            <p class="muted">Twoje pliki z projektów z basecamp są teraz automatycznie synchronizowane z</p>
                            <p class="muted">dropbox. Dla każdego z projektów stworzyliśmy oddzielny folder.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
	</div>
{% endblock %}