{% extends 'layout.twig' %}

{% block main %}
    <div id="dropbox" class="row">
        <div class="span3 logo">
            <a {% if dropboxNotDone  %}href="{{ dropboxLoginUrl }}" {% endif %}><img src="./../img/dropbox.png" alt="Połącz z dropbox" ></a>
        </div>
        <div class="span9">
            tu będzie sobie siedział tekst o dropbox i jak zajebiscie sie jest z nim połączyć oraz dlaczego to w ogóle robimy
            blav sdlksdlfmd vdsksdlvsd dslfsdfl,sd
        </div>
    </div>
    <div id="basecamp" class="row">
        <div class="span3 ">
            <a {% if basecampNotDone  %}href="{{ basecampLoginUrl }}" {% endif %}><img src="./../img/basecamp.png" alt="Połącz z basecamp" ></a>
        </div>
        <div class="span9">
            tu będzie sobie siedział tekst o dropbox i jak zajebiscie sie jest z nim połączyć oraz dlaczego to w ogóle robimy
            blav sdlksdlfmd vdsksdlvsd dslfsdfl,sd
        </div>
    </div>
    <div id="configuration" class="row">
        <div class="span3 logo">
            <a href="google.com"><img src="./../img/basecamp.png" alt="Połącz z basecamp" ></a>
        </div>
        <div class="span9">
            tu będzie sobie siedział tekst o dropbox i jak zajebiscie sie jest z nim połączyć oraz dlaczego to w ogóle robimy
            blav sdlksdlfmd vdsksdlvsd dslfsdfl,sd
        </div>
    </div>



{% endblock %}